.flex-container {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.flex-item {
  display: flex;
  align-items: center;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

a:hover {
  color: #666868;
  text-decoration: none;
  cursor: pointer;
}

h5 {
  letter-spacing: 3px;
}

u {
  letter-spacing: 3px;
  text-underline-offset: 5px;
  color: #060606;
}

u:hover {
  color: #666868;
  cursor: pointer;
  text-underline-offset: 5px;
}

h6 {
  color: #717171;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
}

strong {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.39em;
  line-height: 1.7em;
  text-transform: uppercase;
}

#myButton {
  background-color: #c0c6c0;
  color: #30aa34;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}

p {
  font-family: futura-pt;
  font-size: 22px;
  line-height: 1.7em;
  font-weight: 400;
  font-style: normal;
  color: rgb(29, 29, 29, 0.7);
}

h1 {
  font-weight: 900;
  font-style: normal;
  font-size: 51px;
  letter-spacing: 0.29em;
  text-transform: uppercase;
}

hr {
  color: #ddd;
  background-color: #ddd;
}

h3 a:hover {
  color: rgba(29, 29, 29, 0.6);
}

h3 {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.39em;
  line-height: 1.7em;
  text-transform: uppercase;
}

.flex-item-morris {
  display: flex;
  align-items: flex-start;
  margin-left: 250px;
}

.flex-container-morris {
  display: flex;
  align-items: flex-start;
}

.flex-container-morris-image {
  margin-right: 50px;
}

.flex-container-morris-info {
  width: 600px;
  margin-left: 75px;
}

body {
  font-family: futura;
  margin: 20px;
  background-color: #ffffff;
  color: #333;
}

.xyz {
  display: inline-block;
  text-align: left;
}
